<div class="ui divider"></div>

<div class="ui basic segment">
	<div class="ui grid">
		<div class="twelve wide column">
			<div class="ui grid">
				<% for(var i = 0; i < types.length; i++){ %>
					<div class="five wide column">
						<div class="container">
							<h4>
								<% if(types[i] == "DuoColor") { %>
									Duo Color
								<% } else if(types[i] == "TriColor") { %>
									Tri Color
								<% } else if(types[i] == "Eleven") { %>
									10+
								<% } else { %>
									<%= types[i] %> 
								<% } %>
								
								<span id="normal-text">(
								<% if(types[i] == "Lands"){ %>
									<%= lengths[i] + deck.basics.plains + deck.basics.island + deck.basics.swamp + deck.basics.mountain + deck.basics.forest %>
								<% } else { %>
									<%= lengths[i] %>
								<% } %>
								)</span>
							</h4>
						</div>
						<% cards[types[i]].forEach(function(card){ %>
							<% include ../partials/cardInList %>
						<% }); %>
						<% if(types[i] == "Lands"){ %>
							<% var lands = ["plains", "island", "swamp", "mountain", "forest"]; %>
							<% lands.forEach(function(land){ %>
								<% if(deck.basics[land] > 0){ %>
									<div class="container">
										<span class="cardIcon"></span>
										<div class="tooltip-container">
											<span><%= land.charAt(0).toUpperCase() + land.slice(1) %> (<%= deck.basics[land] %>)</span>
										</div>
									</div>
								<% } %>
							<% }); %>
						<% } %>
					</div>
				<% } %>
				<% if (tokens.length > 0){ %>
					<div class="five wide column">
						<div class="container">
							<h4>Tokens <span id="normal-text">(<%= tokens.length %>)</span></h4>
						</div>
						<% tokens.forEach(function(card){ %>
							<div class="container">
								<span class="cardIcon"></span>
								<div class="tooltip-container">
									<span class="cardName">
										<%= card.name %> 
									</span>
									<span class="img-tooltip">
										<img src="<%= card.image %>" alt="<%= card.name %> image <%= card.image %>" />
									</span>
								</div>
							</div>
						<% }); %>
					</div>
				<% } %>
				<div class="sixteen wide column">
					<h3 class="ui header">Total Cards: <%= deck.cards.length + deck.basics.island + deck.basics.mountain + deck.basics.swamp + deck.basics.forest + deck.basics.plains %></h3>
				</div>
			</div>
		</div>
		<div class="four wide column ui segment">
			<canvas id="manaChart"></canvas>
			<p>Outer: Card Mana</p>
			<p>Inner: Land Mana</p>
			<div class="ui divider"></div>
			<canvas id="typeChart"></canvas>
			<div class="ui divider"></div>
			<canvas id="cmcChart"></canvas>
		</div>
	</div>
</div>
	
	<% if(deck.cardsToBuy.length > 0){ %>
		<div class="ui green segment">
			<div class="ui header"><i class="green shopping cart icon"></i>Cards to Buy:</div>
			<% deck.cardsToBuy.forEach(function(card){ %>
				<% include ../partials/cardInList %>
			<% }); %>
		</div>
	<% } %>
	
	<% if(deck.cardsWishlist.length > 0){ %>
		<div class="ui yellow segment">
			<div class="ui header"><i class="yellow star icon"></i>Wishlist:</div>
			<% deck.cardsWishlist.forEach(function(card){ %>
				<% include ../partials/cardInList %>
			<% }); %>
		</div>
	<% } %>
	
<script>
	function toggleForms(id){
		var modal = document.getElementById("forms_" + id);
		modal.style.display = "block";
	}
	
	document.onclick = function(event){
		var modals = document.getElementsByClassName("card-forms");
		for(i = 0; i < modals.length; i++){
			if(event.target == modals[i]){
				modals[i].style.display = "none";
			}
		}
	}
</script>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
<script src="/scripts/graphs.js"></script>
<script>
	window.onload = function () {
		getGraphs("<%= deck._id %>");
	}
</script>

	
