<% include ../partials/header %>

<h2>MTG Deck Editor</h2>
<% if(currentUser){ %>
	<a href="/mtg/new" class="ui teal animated button">
		<div class="visible content">New Deck</div>
		<div class="hidden content">
			<i class="star icon"></i>
		</div>	
	</a>	
<% } %>

<div class="ui divider"></div>

<div class="ui right aligned basic segment">
	<div class="ui buttons right align">
	  <div class="ui grey basic button">Order by:</div>
	  <a class="ui teal basic button" href="/mtg/sort/author">author</a>
	  <a class="ui teal basic button" href="/mtg/sort/name">alphabetical</a>
	</div>
</div>

<div class="ui basic segment">
	<div class="ui stackable three column grid">
		<% decks.forEach(function(deck){%>
			<div class="column">
				<div class="ui cards">
					<a class="<%= deck.color %> card" href="/mtg/<%= deck._id %>">
						<div class="content">
							<div class="right floated meta"><%= deck.dateUpdated %></div>
							<img class="ui avatar image" src="/avatar.png"> <%= deck.author.username %>
						</div>
						<div class="image">
							<img src="<%= deck.image %>" alt="<%= deck.name %> Image">
						</div>
						<div class="extra content">
							<div class="ui header center">
								<%= deck.name %>
							</div>
						</div>
					</a>
				</div>
			</div>
		<% }); %>
	</div>
</div>



<% include ../partials/footer %>